{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Custom styles for this template -->
    <link href="/static/css/app.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container px-4 g-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">{{title}}</h2>
        
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for item in products %}
               
        <div class="col-4">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{ item[4] }}');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <p class="pt-5 mt-5 mb-4 lh-1 fw-bold">{{item[1]}}</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>Earth</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>{{item[2]}}</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      
      {% endfor %}
    </div>
  </div>
{% endblock %}